<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>726539091F710F0F00726F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7265391F1F710F0F00726F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7265392A1F710F0F00726F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
